USE [master]
GO
/****** Object:  Database [TrainTicketSystem]    Script Date: 10/24/2025 12:20:46 AM ******/
CREATE DATABASE [TrainTicketSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainTicketSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrainTicketSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainTicketSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TrainTicketSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainTicketSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainTicketSystem]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [varchar](15) NOT NULL,
	[MaVe] [char](14) NOT NULL,
	[GiaVeSauGiam] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietLichTrinh]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLichTrinh](
	[maChiTietLichTrinh] [varchar](20) NOT NULL,
	[MaLichTrinh] [varchar](15) NOT NULL,
	[maGa] [varchar](10) NOT NULL,
	[thuTuGa] [int] NOT NULL,
	[gioDi] [time](7) NULL,
	[gioDen] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[maChiTietLichTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChoNgoi]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChoNgoi](
	[MaChoNgoi] [varchar](15) NOT NULL,
	[Tang] [int] NOT NULL,
	[Khoang] [int] NOT NULL,
	[Toa] [varchar](10) NOT NULL,
	[SoGhe] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChoNgoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuyenTau]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTau](
	[maChuyenTau] [varchar](10) NOT NULL,
	[MaLoaiTau] [varchar](10) NOT NULL,
	[tenChuyenTau] [nvarchar](50) NOT NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maChuyenTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ga]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ga](
	[MaGa] [varchar](10) NOT NULL,
	[TenGa] [nvarchar](50) NOT NULL,
	[trangThaiGa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](15) NOT NULL,
	[MaNV] [varchar](11) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
	[NgayLapHoaDon] [date] NOT NULL,
	[MaKM] [varchar](15) NOT NULL,
	[TongTien] [decimal](15, 2) NOT NULL,
	[TongGiamGia] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[SoCCCD] [char](12) NOT NULL,
	[SDT] [varchar](11) NOT NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SoCCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoangCachGa]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoangCachGa](
	[maGaDi] [varchar](10) NOT NULL,
	[maGaDen] [varchar](10) NOT NULL,
	[KhoangCach] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maGaDi] ASC,
	[maGaDen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [varchar](15) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[NgayApDung] [date] NULL,
	[NgayHetHan] [date] NULL,
	[MucKM] [float] NULL,
	[trangThaiKM] [bit] NULL,
	[LoaiKM] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTrinh]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTrinh](
	[MaLichTrinh] [varchar](15) NOT NULL,
	[maChuyenTau] [varchar](10) NOT NULL,
	[gaDi] [varchar](10) NOT NULL,
	[gaDen] [varchar](10) NOT NULL,
	[ThoiGianKhoiHanh] [datetime] NOT NULL,
	[ThoiGianDuKienDen] [datetime] NOT NULL,
	[TrangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLichTrinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTau]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTau](
	[MaLoaiTau] [varchar](10) NOT NULL,
	[TenLoaiTau] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiTau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiToa]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiToa](
	[MaLoaiToa] [varchar](5) NOT NULL,
	[TenLoaiToa] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiVe]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVe](
	[MaLoaiVe] [varchar](10) NOT NULL,
	[TenLoaiVe] [nvarchar](50) NOT NULL,
	[MucGiamGia] [decimal](3, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [varchar](11) NOT NULL,
	[hoTen] [nvarchar](50) NOT NULL,
	[ngaySinh] [date] NULL,
	[NgayVaoLam] [date] NULL,
	[SoCCCD] [varchar](12) NOT NULL,
	[GioiTinh] [bit] NULL,
	[SoDienThoai] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[TrangThai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SoCCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[status] [bit] NULL,
	[createdDate] [date] NULL,
	[maNhanVien] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Toa]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Toa](
	[MaToa] [varchar](10) NOT NULL,
	[SoToa] [int] NOT NULL,
	[LoaiToa] [varchar](5) NOT NULL,
	[SoLuongGhe] [int] NOT NULL,
	[ChuyenTau] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaToa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 10/24/2025 12:20:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [char](14) NOT NULL,
	[MaKH] [varchar](10) NOT NULL,
	[maLichTrinh] [varchar](15) NOT NULL,
	[MaLoaiVe] [varchar](10) NOT NULL,
	[maSoCho] [varchar](15) NOT NULL,
	[TenHanhKhach] [nvarchar](100) NOT NULL,
	[SoCCCD] [char](12) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[TinhTrangVe] [nvarchar](20) NOT NULL,
	[KhuHoi] [bit] NOT NULL,
	[GiaVe] [decimal](12, 2) NOT NULL,
	[GiaGiam] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChuyenTau] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[Ga] ADD  DEFAULT ((1)) FOR [trangThaiGa]
GO
ALTER TABLE [dbo].[LichTrinh] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((0)) FOR [GioiTinh]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ('NhanVienBanVe') FOR [ChucVu]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ('DangLam') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT (N'Đã bán') FOR [TinhTrangVe]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT ((0)) FOR [KhuHoi]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaVe])
REFERENCES [dbo].[Ve] ([MaVe])
GO
ALTER TABLE [dbo].[ChiTietLichTrinh]  WITH CHECK ADD FOREIGN KEY([MaLichTrinh])
REFERENCES [dbo].[LichTrinh] ([MaLichTrinh])
GO
ALTER TABLE [dbo].[ChiTietLichTrinh]  WITH CHECK ADD FOREIGN KEY([maGa])
REFERENCES [dbo].[Ga] ([MaGa])
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD FOREIGN KEY([Toa])
REFERENCES [dbo].[Toa] ([MaToa])
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD FOREIGN KEY([MaLoaiTau])
REFERENCES [dbo].[LoaiTau] ([MaLoaiTau])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[KhoangCachGa]  WITH CHECK ADD FOREIGN KEY([maGaDi])
REFERENCES [dbo].[Ga] ([MaGa])
GO
ALTER TABLE [dbo].[KhoangCachGa]  WITH CHECK ADD FOREIGN KEY([maGaDen])
REFERENCES [dbo].[Ga] ([MaGa])
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD FOREIGN KEY([gaDen])
REFERENCES [dbo].[Ga] ([MaGa])
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD FOREIGN KEY([gaDi])
REFERENCES [dbo].[Ga] ([MaGa])
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD FOREIGN KEY([maChuyenTau])
REFERENCES [dbo].[ChuyenTau] ([maChuyenTau])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NhanVien]
GO
ALTER TABLE [dbo].[Toa]  WITH CHECK ADD FOREIGN KEY([ChuyenTau])
REFERENCES [dbo].[ChuyenTau] ([maChuyenTau])
GO
ALTER TABLE [dbo].[Toa]  WITH CHECK ADD FOREIGN KEY([LoaiToa])
REFERENCES [dbo].[LoaiToa] ([MaLoaiToa])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([maLichTrinh])
REFERENCES [dbo].[LichTrinh] ([MaLichTrinh])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([MaLoaiVe])
REFERENCES [dbo].[LoaiVe] ([MaLoaiVe])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([maSoCho])
REFERENCES [dbo].[ChoNgoi] ([MaChoNgoi])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD CHECK  (([GiaVeSauGiam]>(0)))
GO
ALTER TABLE [dbo].[ChiTietLichTrinh]  WITH CHECK ADD CHECK  (([thuTuGa]>=(1)))
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD CHECK  (([Khoang]>=(1) AND [Khoang]<=(12)))
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD CHECK  (([SoGhe]>(0)))
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD CHECK  (([Tang]=(2) OR [Tang]=(1)))
GO
ALTER TABLE [dbo].[ChuyenTau]  WITH CHECK ADD CHECK  (([trangThai]=(1) OR [trangThai]=(0)))
GO
ALTER TABLE [dbo].[Ga]  WITH CHECK ADD CHECK  (([trangThaiGa]=(1) OR [trangThaiGa]=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CHK_TongTien] CHECK  (([TongTien]>=[TongGiamGia]))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CHK_TongTien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TongGiamGia]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  ((len([SDT])=(10) AND [SDT] like '0[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  ((len([SoCCCD])>=(9) AND len([SoCCCD])<=(12)))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  ((len([TenKH])<=(100)))
GO
ALTER TABLE [dbo].[KhoangCachGa]  WITH CHECK ADD CHECK  (([KhoangCach]>=(0)))
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD  CONSTRAINT [CHK_ThoiGianDuKienDen] CHECK  (([ThoiGianDuKienDen]>=[ThoiGianKhoiHanh]))
GO
ALTER TABLE [dbo].[LichTrinh] CHECK CONSTRAINT [CHK_ThoiGianDuKienDen]
GO
ALTER TABLE [dbo].[LichTrinh]  WITH CHECK ADD CHECK  (([TrangThai]=(1) OR [TrangThai]=(0)))
GO
ALTER TABLE [dbo].[LoaiTau]  WITH CHECK ADD CHECK  ((len([TenLoaiTau])>(0)))
GO
ALTER TABLE [dbo].[LoaiToa]  WITH CHECK ADD CHECK  (([MaLoaiToa]='TV' OR [MaLoaiToa]='GN6' OR [MaLoaiToa]='GN4' OR [MaLoaiToa]='GC' OR [MaLoaiToa]='GM'))
GO
ALTER TABLE [dbo].[LoaiToa]  WITH CHECK ADD CHECK  ((len([TenLoaiToa])>(0) AND len([TenLoaiToa])<=(50)))
GO
ALTER TABLE [dbo].[LoaiVe]  WITH CHECK ADD CHECK  (([MucGiamGia]>=(0.00) AND [MucGiamGia]<=(0.25)))
GO
ALTER TABLE [dbo].[LoaiVe]  WITH CHECK ADD CHECK  ((len([TenLoaiVe])<=(50)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([ChucVu]='QuanLyGa' OR [ChucVu]='NhanVienBanVe'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([GioiTinh]=(1) OR [GioiTinh]=(0)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([ngaySinh]<=getdate()))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([SoCCCD] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([SoDienThoai] like '[0-9]%'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([TrangThai]='TamNghi' OR [TrangThai]='NghiViec' OR [TrangThai]='DangLam'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([role]='NHANVIEN' OR [role]='QUANLY'))
GO
ALTER TABLE [dbo].[Toa]  WITH CHECK ADD CHECK  (([SoLuongGhe]>(0)))
GO
ALTER TABLE [dbo].[Toa]  WITH CHECK ADD CHECK  (([SoToa]>=(0) AND [SoToa]<=(12)))
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [CHK_GiaGiam] CHECK  (([GiaGiam]<=[GiaVe]))
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [CHK_GiaGiam]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD CHECK  (([GiaGiam]>=(0)))
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD CHECK  (([GiaVe]>(0)))
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD CHECK  ((len([SoCCCD])>=(9) AND len([SoCCCD])<=(12)))
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD CHECK  ((len([TenHanhKhach])<=(100)))
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD CHECK  (([TinhTrangVe]=N'Đã hủy' OR [TinhTrangVe]=N'Đã đổi' OR [TinhTrangVe]=N'Đã bán'))
GO
USE [master]
GO
